<h1 id="login_logo">Plaction</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3 form_login">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス"%>
            <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
            
            <%= f.submit "ログイン", class: "btn btn-large btn-success"%>
        <% end %>
        <p><%= link_to "新規アカウントを作成", signup_path %> </p>

    </div>
</div>
