<% if current_user != @user %>
    <div id= "follow_form">
        <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
        <% else %>
            <%= render 'follow' %>
        <% end %>
    </div>
<%else%>
<div class="icon col-sm-6">
</div>
<div class="content col-sm-6">
    <p><%= link_to current_user.number_followings, "#"%> お気に入り<p>
    <p><%= link_to current_user.number_followings, "#"%> フォロー<p>
    <p><%= link_to current_user.number_followers, "#" %> フォロワー<p>
</div>
<% end %>