<div class="user-profile">
    <div class="icon">
        <%= gravatar_for user, size: 100 %>
    </div>
    <div class="name">
        <h1><%= user.name %></h1>
    </div>
    <div class="status">
        <%= render 'follow_form' if logged_in? %>
        <br>
        <ul>
            <li>
                <div class="status-label">フォロー</div>
                <div>
                    <%= link_to user.number_followings, followings_user_path(user), class: "status-value"%>
                </div>
            </li>
            <li>
                <div class="status-label">フォロワー</div>
                <div>
                    <%= link_to user.number_followers, followers_user_path(user), class: "status-value"%>
                </div>
            </li>
            <li>
                <div class="status-label">お気に入り</div>
                <div>
                    <%= link_to user.number_likes, likings_user_path(user), class: "status-value"%>
                </div>
            </li>
        </ul>
    </div>
</div>