<%= form_for(@user) do |f|%>
 <% if @user.errors.present? %>
    <div class = "alert alert-danger">
        <%= alert%>
        <ul>
            <% @user.errors.full_users.each do |full_user| %>
            <li>
                <%= full_user%>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="status-profile">
        <h1 class= "text-left">アカウントの設定</h1>
        <HR class="hr">
            <table class="status-profile-list">
                <tr>
                    <td>
                        <%= f.label :name, "ユーザーID" %>
                        <%= f.text_field :name, class: "form-control", id: "form-large", placeholder: "名前"%>
                    </td>
                    <td class="btn-left">
                        <%= f.submit "変更", class: "btn btn-lg btn-default btn-block" %>
                    </td>
                </tr>
            </table>
            <HR class="hr">
            <table class="status-profile-list">
                <tr>
                    <td>
                        <%= f.label :name, "プロフィール" %>
                        <%= f.text_area :profile, :size=>"60x5", class: "form-control", placeholder: "プロフィール"%>
                    </td>
                    <td class="btn-left">
                        <%= f.submit "変更", class: "btn btn-lg btn-left btn-default btn-block" %>
                    </td>
                </tr>
            </table>
    
            
    </div>
<% end %>