<div class="box2">
    <div>
        <%= form_for(@item) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field form-horizontal">
 
                <div class="form-group", id="name_form">
                    <%= f.text_field :name, class: "form-control", id: "name_form", placeholder: "タイトル" %>
                </div>
                
                <div class="form-group">
                    <%= f.text_area :description, :size=>"60x10", class: "form-control", id: "description_form",placeholder: "この植物の特徴は..." %>
                </div>
                
                <div class="form-group">
                    <%= f.number_field :price, class: "form-control", id: "price_form",placeholder: "参考価格"  %>
                </div>
                
                
                <div class="form-group">
                    <%= f.file_field :image %> 
                </div>    
            　　

            </div>
            <div class="submit-group">
                <%= button_tag :type => "submit", :class =>"btn btn-round btn-lg",id: "submit_button" do %>
                  <i class="glyphicon glyphicon-pencil"></i> 投稿
                <% end %>
            </div>
        <% end %>
    </div>
</div>