<div class="item-box">
    <% if current_user.items.any? %>
            <div class="image">
                <div class="img-wrap">
                  <%= link_to item_path(item) do %>
                    <% if item.image? %>
                  　　<%= image_tag item.image.thumb.url %>
                  　<% else %>
                  　<% end %>
                  <% end %>
                </div>
            </div>
            <div class="detail">
                <span class="timestamp">
                    <%= item.created_at.in_time_zone("Asia/Tokyo").to_s(:date) %>
                </span>
                <% if logged_in? %>
                    <% if current_user == item.user %>
                        <span class="delete">
                            <%= link_to "削除", item, method: :delete, data: { confirm: "削除します。"}%>
                        </span>
                    <% else %>
                        <span id="like_form-<%= item.id %>">
                            <%= render partial: 'likes/like_form',locals: { item: item } %>
                        </span>
                    <% end %>
                <% end %>
            </div>
    <% end %>
</div>
