<div class="container">
    <div class="container-inner inner-default clearfix">

        <% if current_user.items.any? %>
            <div class="item-box">
                <div class="image">
                    <div class="img-wrap">
                      <%= link_to item_path(item) do %>
                        <% if item.image? %>
                      　　<%= image_tag item.image.thumb.url %>
                      　<% else %>
                      　<% end %>
                      <% end %>
                    </div>
                </div>
        
                <div class="detail">
                    <span class="timestamp">
                        Posted <%= time_ago_in_words(item.created_at) %> ago.
                    </span>
                    <% if logged_in? %>
                        <% if current_user == item.user %>
                            <span class="delete">
                                <%= link_to "削除", item, method: :delete, data: { confirm: "削除します。"}%>
                            </span>
                        <% else %>
                            <span id="like_form-<%= item.id %>">
                                <%= render partial: 'likes/like_form',locals: { item: item } %>
                            </span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>